---
---

/*!

  {{ site.name }} {{ site.version }} - Extension Styles

  {% include contribute.html %}

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css page.scss:page.css --style compressed

*/

@import url("https://radancy.dev/css/init.css");

// Variables

$highlight-color: #6F00EF;

a, button {
font: inherit;

  &.new-tab {

    &::after {
    background-image: url("../img/new-tab.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    content: "";
    display: inline-block;
    height: 16px;
    margin: 0 5px 0;
    vertical-align: middle;
    width: 16px;
    }

  }

}

footer {
font-size: 14px;
margin-top: 2em;
text-align: center;

  ul {
  padding-left: 0;
  }

  li {
  display: inline-block;
  margin-right: 1em;
  }

}

@import "form";

h2 {
font-size: 19px;
}

h3 {
font-size: 18px;
}

h4 {
font-size: 16px;
}

main {
font-size: 14px;
}

p, ul {

  button {
  background-color: transparent;
  border: 0;
  color: blue;
  display: inline-block;
  //font-size: inherit;
  outline: 0;
  padding: 0;
  text-decoration: underline;

    &[disabled] {
    color: #000;
    text-decoration: none;

      &::after {
      background-image: none;
      content: "✔️";
      height: auto;
      margin-left: 5px;
      }

    }

  }

}

ul, ol {
margin: 1em 0 1em 0;
padding: 0 0 0 1.5em;
}

.btn {
background-position: center;
background-repeat: no-repeat;
background-size: 20px;
display: inline-block;
min-width: 265px;
}

.extension-active {
min-width: 600px;
}

.heading-small {
color: $highlight-color;
font-size: 14px;
margin: 0 0 2em;
padding: 0;
}

.reset {
background-image: url("../img/btn-reset.png");
border-radius: 5px;
height: 40px;
min-width: 0;
padding: 0;
position: fixed;
right: 25px;
top: 16px;
width: 40px;
}

#images, #heading, #thanks {

  main {
  max-width: none;
  }

}

#images, #heading {

  main {

    #inner-content {
    margin-top: 2em;
    }

    .loading {
    color: $highlight-color;
    }

    h2, ol, .failure, .details, .stats, .success, #permalink:empty {
    display: none;
    }

    .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;
    font-weight: bold;
    }

    table {
    width: 50%;
    }

    th {
    background-color: #40e8d4;
    color: #000;
    text-align: center;
    width: 25%;
    }

    th, td {
    border: 1px #00008b solid;
    padding: 1em;
    }

    td {
    background-color: #777;
    color: #fff;
    }

    .headinglevel, .missingheadinglevel {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    line-height: normal;
    margin-right: .5em;
    padding: .5em;
    }

    .headinglevel {
    background-color: darkgreen;
    }

    .missingheadinglevel {
    background-color: #d20000;
    }

    .h2 {
    margin-left: 2em;
    }

    .h3 {
    margin-left: 4em;
    }

    .h4 {
    margin-left: 6em;
    }

    .h5 {
    margin-left: 8em;
    }

    .h6 {
    margin-left: 10em;
    }

  }

}
