---
---

/*!

  {{ site.name }} {{ site.version }} - Page Styles

  {% include contribute.html %}

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css page.scss:page.css --style compressed

*/

body {

  &[data-color-blindness="achromatomaly"] {
  filter: url("#achromatomaly");
  }

  &[data-color-blindness="achromatopsia"] {
  filter: url("#achromatopsia");
  }

  &[data-color-blindness="deuteranomaly"] {
  filter: url("#deuteranomaly");
  }

  &[data-color-blindness="deuteranopia"] {
  filter: url("#deuteranopia");
  }

  &[data-color-blindness="protanomaly"] {
  filter: url("#protanomaly");
  }

  &[data-color-blindness="protanopia"] {
  filter: url("#protanopia");
  }

  &[data-color-blindness="tritanopia"] {
  filter: url("#tritanopia");
  }

  &[data-color-blindness="tritanomaly"] {
  filter: url("#tritanomaly");
  }

}

.a11y-smoketest-textspace {

  * {
  line-height:1.5 !important;
  letter-spacing: 0.12em !important;
  word-spacing: 0.16em !important;
  }

  p {
  margin-bottom: 2em !important;
  }

}

#a11y-smoke-test-contrast {
background-color: #fff !important;
border-radius: 5px !important;
border: 1px #000 solid !important;
box-shadow: 5px 5px 0 0 rgba(71, 71, 71, .5) !important;
font-family: "Graphik","Helvetica","Arial",sans-serif !important;
font-size: 14px !important;
font-style: normal !important;
font-variant: normal !important;
left: 20px !important;
line-height: 2 !important;
padding: 1em 1em 0;
position: fixed;
text-align: left !important;
top: 20px !important;
width: 600px !important;
z-index: 2147483647 !important;

  * {
  font: inherit !important;
  line-height: inherit !important;
  color: #000 !important;
  }

  *, *::before, *::after {
  box-sizing: inherit !important;
  }

  @import "form";

  #contrast-button {
  background-image: url("https://radancy.dev/img/btn-close.png") !important;
  background-color: #ffcc36 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 20px !important;
  border-radius: 5px !important;
  border: 0 !important;
  height: 35px !important;
  min-width: 0 !important;
  padding: 0 !important;
  position: absolute !important;;
  right: 10px !important;
  top: 10px !important;
  width: 35px !important;
  }

}
