<div class="warning-info">

  <h2>Accessibility Overlays</h2>

  <p>Use of accessibility overlays are <strong>strongly discouraged</strong> and not in line with Radancy's vision on how best to support people with disabilities in our digital offerings. Use of these tools promote ableism, reinforce discrimination, are often seen as a performative commitment to accessibility, and will not protect one from legal action. More information can be found here:</p>

  <ul>
    <li><a class="new-tab" href="https://shouldiuseanaccessibilityoverlay.com/">Should I Use An Accessibility Overlay?</a></li>
    <li><a class="new-tab" href="https://overlayfactsheet.com/">Overlay Fact Sheet</a></li>
    <li><a class="new-tab" href="https://overlayfalseclaims.com/">Overlay False Claims</a></li>
  </ul>

</div>
