<ul>
  <li><button data-script="achromatomaly">Achromatomaly</button></li>
  <li><button data-script="achromatopsia">Achromatopsia (Grayscale)</button></li>
  <li><button data-script="deuteranomaly">Deuteranomaly</button></li>
  <li><button data-script="deuteranopia">Deuteranopia (Green-Blind, Most Common)</button></li>
  <li><button data-script="protanomaly">Protanomaly</button></li>
  <li><button data-script="protanopia">Protanopia (Red-Blind, Most Common)</button></li>
  <li><button data-script="tritanopia">Tritanopia (Blue-Blind)</button></li>
</ul>
